### craete a list divisible by 3 btween 1 t0 101

In [1]:
numbers=[]
for i in range(1,101):
    if(i%3==0):
        numbers.append(i)
print(numbers)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

#### display highest % marks in the list

In [4]:
students=[['sai',70],['ram',30],['lakkshmi',60]]
[each for each in students if each[1]>=60]

[['sai', 70], ['lakkshmi', 60]]

In [6]:
students=[['sai',70,1],['ram',30,2],['lakkshmi',60,3]]

[each for each in students if(each[1]>=0 and each[2]<=1)]

[['sai', 70, 1]]

In [8]:
[each+item for each in range(3) for item in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4]

### x^2+y^2=z^2

In [16]:
[(x,y,z) for x in range(1,30) for y in range(1,30) for z in range(1,30) if(x**2)+(y**2)==(z**2)]

[(3, 4, 5),
 (4, 3, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 6, 10),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 5, 13),
 (12, 9, 15),
 (12, 16, 20),
 (15, 8, 17),
 (15, 20, 25),
 (16, 12, 20),
 (20, 15, 25),
 (20, 21, 29),
 (21, 20, 29),
 (24, 7, 25),
 (24, 10, 26)]

### without duplicates

In [17]:
[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if(x**2)+(y**2)==(z**2)]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

#### create  two digit roll number with numbers 0 to 9

In [22]:
[str(x)+str(y) for x in range(10) for y in range(10)]

['00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']


# Compresetion with ifelse
### {if_item if_condition else_condition loop}

In [2]:
{ each:each**2 if each%2==0 else each**3 for each in range(1,11) }

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [3]:
n=['sai','ram','lakshmi']
b=['A','B','C']
{ n[i]:b[j] for i in range(len(n)) for j in range(len(n)) if i==j}

{'sai': 'A', 'ram': 'B', 'lakshmi': 'C'}


## zip

### sort the students based on the english marks
['name',english,maths]

In [4]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,46]]
d={}
l=[]
for i in range(len(students)):
    d[students[i][1]]=students[i]
    l.append(students[i][1])
l.sort()
students=[]
for i in l:
    students.append(d[i])
students

[['sai', 30, 40], ['ram', 50, 46], ['lakshmi', 100, 30]]

In [5]:
abs(-2)

2

In [6]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,46]]
students.sort(key=lambda x:x[1])
students

[['sai', 30, 40], ['ram', 50, 46], ['lakshmi', 100, 30]]

In [7]:
l=['12','34','344','3442','76']
res=[]
for i in range(len(l)):
    res.append(int(l[i]))
l,res

(['12', '34', '344', '3442', '76'], [12, 34, 344, 3442, 76])