### rename all the files in current directory by adding numbers to every file

In [23]:
import os

In [26]:
count=0
for oldname in os.listdir():
    newname=str(count)+'_'+oldname
    os.rename(oldname,newname)
    count+=1

In [5]:
mylist=[10,20,30,40]
mylist.insert(0,mylist.pop(3))
mylist

[40, 10, 20, 30]

In [3]:
d={'ram':200}
d['ram']+=20
d

{'ram': 220}

In [7]:
s='sai123ram245'
sum([int(i) for i in s if i.isdigit()])

17

In [11]:
s='sai 123 ram245'
s1=s.replace(' ','')
s1

'sai123ram245'

In [15]:
s='sai 123 ram 345'
sum([int(i) for i in s.split() if i.isdigit()])

468

In [13]:
s1

['sai', '123', 'ram', '345']

In [17]:
s='sairam sailakshmi'
''.join([i.upper() if i=='s' or i=='i' else i for i in s])

'SaIram SaIlakShmI'

In [21]:
s={'name':'sai','branch':'cse'}
y=[print(key,value)for key,value in s.items()]

name sai
branch cse

In [32]:
s=['sai','surya','ramu','lakshmi','sri']
sum([len(i) for i in s])

22

In [37]:
names=['sai','ram','lakshmi','srinu','indira']
groups={'A':[],'B':[]}
import re

In [39]:
for i in names:
    if re.search('a',i):
        groups['A'].append(i)
    else:
        groups['B'].append(i)
print(groups)

{'A': ['sai', 'ram', 'lakshmi', 'indira'], 'B': ['srinu']}

In [44]:
print(1,'\n',10,'\n',2,'\n',3)

1
 10
 2
 3

In [45]:
print(1,2,3,4,sep='\n')

1
2
3
4

In [46]:
s=['abc','cab','xyd','bca']
s.sort(key=lambda s:s[2])
s

['bca', 'cab', 'abc', 'xyd']

### take the data everytime until user gives DONE print minimum and max number
###### 10,30,sai,lakshmi,50,5,DONE

In [50]:
numbers=[]
while True:
    data=input('give data')
    if data=="DONE":
        break
    elif data.isdigit():
        numbers.append(int(data))
if len(numbers)>0:
    print('minimum',min(numbers))
    print('maximum',max(numbers))
else:
    print('user not given numbers')

give data10
give data
give data20
give dataDONE
minimum 10
maximum 20

In [5]:
s='ram123s7a1345'
sum(list(map(int,re.findall('\d+',s))))

NameError: name 're' is not defined

In [6]:
import re

In [7]:
s='ram123s7a1345'
sum(list(map(int,re.findall('\d+',s))))

1475