## Pandas

#### pandas use cases
###### 1.data transformation
###### 2.data analysis
###### 3.data cleaning

### pandas notations:
##### 1.series-----creating the data
##### 2.dataframe---for making the data in particular tabular format

In [3]:
import pandas as pd
internal1={'s1':20,'s2':10,'s3':30}
internal1=pd.Series(internal1)
print(internal1)
internal2={'s1':10,'s2':20,'s3':30}
internal2=pd.Series(internal2)
print(internal2)

s1    20
s2    10
s3    30
dtype: int64
s1    10
s2    20
s3    30
dtype: int64

In [4]:
final={'Internal1':internal1,'Internal2':internal2}
final=pd.DataFrame(final)
print(final)

    Internal1  Internal2
s1         20         10
s2         10         20
s3         30         30

In [5]:
final.columns

Index(['Internal1', 'Internal2'], dtype='object')

In [6]:
final.values

array([[20, 10],
       [10, 20],
       [30, 30]], dtype=int64)

In [7]:
final.values[2,0]

30

In [8]:
for i in final.values:
    print(i[0],i[1])

20 10
10 20
30 30

In [9]:
final.loc['s4']=[20,30] #adding the columns=loc

In [10]:
final

    Internal1  Internal2
s1         20         10
s2         10         20
s3         30         30
s4         20         30

In [11]:
final.drop('s4')

    Internal1  Internal2
s1         20         10
s2         10         20
s3         30         30

In [12]:
final.values[2]=[12,30]

In [13]:
final

    Internal1  Internal2
s1         20         10
s2         10         20
s3         12         30
s4         20         30